<h2 mat-dialog-title class="dialog-title">{{ isEdit ? 'Uredi izdelek' : 'Dodaj izdelek' }}</h2>
<div mat-dialog-content>
  <div class="form-container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Naziv</mat-label>
        <input matInput formControlName="title" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Cena (EUR)</mat-label>
        <input matInput type="number" step="0.01" formControlName="price" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Kategorija</mat-label>
        <input matInput formControlName="category" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Opis</mat-label>
        <textarea matInput rows="4" formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>URL slike</mat-label>
        <input matInput formControlName="image" required />
      </mat-form-field>
    </form>
  </div>
</div>
<div mat-dialog-actions align="center" class="actions">
  <button mat-stroked-button color="primary" (click)="cancel()">Prekliči</button>
  <button mat-flat-button color="primary" (click)="submit()">{{ isEdit ? 'Shrani' : 'Dodaj' }}</button>
</div>
